@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Old+Standard+TT:ital@1&family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --main-color: #18d3c4;
  --secondary-color: #fc855b;
  --bg-color: #ffd435;
  --text-color: #002f42;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Roboto", "Old+Standard+TT", sans-serif;
}
.main {
  width: 100%;
  height: 100vh;
}
.signup img {
  height: 100vh;
}
.signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
}
.logo img {
  height: 100px;
}
.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.log {
  width: 40%;
  height: 100vh;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.log__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-align: center;
  color: var(--text-color);
  font-weight: 700;
}
.terminos {
  padding-top: 15px;
}
.terminos,
.news {
  padding-top: 5px;
  display: flex;
  gap: 20px;
  font-size: 0.8em;
}
.log__form input[type="email"],
input[type="password"],
input[type="text"] {
  width: 300px;
  height: 30px;
  border: none;
  text-align: center;
  font-size: 1em;
}
.btn {
  padding-top: 15px;
}
.btn button {
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
}
@media (max-width: 996px) {
  .imagen {
    display: none;
  }
  .log {
    width: 100%;
    height: 100vh;
  }
  .logo img {
    height: 90px;
  }
  .log {
    gap: 8px;
  }
}
